- column_div :type => :primary do
  %h2
    = t 'person.persons_contacts', :person => @person.name
  - if @person.connections.count > Person::MAX_DEFAULT_CONTACTS
    .button.see_all_link
      = link_to t('person.see_all_contacts'), person_connections_path(@person)
  = render :partial => 'shared/contacts_grid', :locals => { :contacts => @person.some_contacts }
  = render :partial => 'common_contacts'
- column_div :type => :secondary do
  = render :partial => 'searches/box'
.clear
