%h2
  = t 'person.comment_wall', :person => @person.name
%a{ :name => "wall" }
- if connected_to?(@person)
  %p
    = formatting_note
  - form_for :comment, :url => person_comments_path(@person) do |f|
    .form_row
      = f.text_area :body, :rows => 2, :cols => 80
    .form_row
      = submit_tag t('global.submit'), :class => "button"
- else
  %p
    = t 'connection.must_be_connected_notice', :person => h(@person.name)
  %p
    = link_to t('connection.connect_now', :person => h(@person.name)), person_connections_path(@person), :method => :post
- unless @person.comments.empty?
  %ul.list.comments.full
    = render :partial => 'comment', :collection => @person.comments
